@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Montserrat:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa";
  list-style: none;
}

h2 {
  text-align: center;
  margin-top: 2rem;
}

.navbar_block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #000000a9;
  padding: 2rem;
  color: #fff;
  position: fixed;
  width: 100vw;
}

.navbar_block :hover {
  color: #EF6E0C;
  transition-duration: 0.7s;
  cursor: pointer;
}

.presentation_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem;
  background-image: url(https://i.pinimg.com/originals/65/71/41/65714144db5012cbb62e452cb7cb12a4.png);
}

#profile_block {
  background-color: rgba(0, 0, 0, 0.774);
  color: #fff;
  padding: 10rem;
}

.profile_block {
  padding: 3rem;
  background-color: #3E3C39;
  color: #fff;
}

.profile_content {
  padding-top: 2rem;
}

.profile_content p{
  text-align: justify;
  padding: 1rem;
  font-size: 1.4rem;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
  background-color: #2c2b28;
  box-shadow: 2px 2px 2px 2px black
}

.skills_block {
  text-align: center;
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.skills_details {
  padding: 2rem;
}

.project_block {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.project_row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  padding: 3rem;
}

.contact_block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2rem;
  background-color: #e6e4e4;
  color: #fff;
}

.contact_mail {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  background-color: #e6e4e4;
  padding: 1rem;
  line-height: 3rem;
  font-size: 20px;
  color: #4a4a4a;
}

.experiences_block {
  text-align: center;
}

ul {
  padding-top: 2rem;
  line-height: 1.7;
}

strong {
  font-weight: 700;
  font-family: "Montserrat";
}