@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa";
}

h2 {
  text-align: center;
  margin-top: 2rem;
}

.navbar_block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #000000c4;
  padding: 2rem;
  color: #fff;
  position: fixed;
  width: 100vw;
}

.navbar_block :hover {
  color: #EF6E0C;
  transition-duration: 0.5s;
  cursor: pointer;
}

.presentation_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem;
  background-image: url(https://i.pinimg.com/originals/65/71/41/65714144db5012cbb62e452cb7cb12a4.png);
}

#profile_block {
  background-color: rgba(0, 0, 0, 0.774);
  color: #fff;
  padding: 10rem;
}

.profile_content p{
  text-align: justify;
  padding: 1rem;
  font-size: 1.4rem;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
}

.skills_block {
  text-align: center;
  padding: 5rem;
  display: flex;
  flex-direction: row;
}

.skills_details {
  padding: 2rem;
}

.project_block {
  display: flex;
  flex-direction: column;
}

.contact_block {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  background-color: #333333;
  color: #fff;
}

.contact_block_2 {
  float: right;
}